// Abstracts
@import "abstracts/breakpoints";
@import "abstracts/variables";
@import "abstracts/utils";

// components
@import "components/button";
@import "components/form";
@import "components/nav";
@import "components/card";
@import "components/cardlist";
@import "components/profile";

// pages
@import "pages/auth";

@font-face {
    font-family: "Rubik";
    src: url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
}

body,
html {
    margin: 0;
    padding: 0;
    color: $text;
    font-family: $font-family;
    background: $primary;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    padding-top: 5rem;
}

* {
    box-sizing: border-box;
    font-family: $font-family;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
}

h1 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
}

h2 {
    font-size: clamp(1rem, 5vw, 2rem);
}

h3 {
    font-size: clamp(0.75rem, 5vw, 1.5rem);
    padding: 0;
    margin: 0;
}

::placeholder {
    color: rgba($text, 0.5);
}

svg {
    fill: currentColor;
    width: 1.1rem;
    height: 1.1rem;
}
