// Abstracts
@import "abstracts/breakpoints";
@import "abstracts/variables";
@import "abstracts/utils";

// components
@import "components/button";
@import "components/form";
@import "components/nav";

// pages
@import "pages/auth";

@font-face {
    font-family: "Rubik";
    src: url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
}

body,
html {
    margin: 0;
    padding: 0;
    color: $text;
    background-color: $primary;
    font-family: $font-family;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;

    padding-top: 4rem;
}

* {
    box-sizing: border-box;
    font-family: $font-family;
}

h1 {
    font-size: clamp(1rem, 5vw, 3rem);
}

h2 {
    padding: 1em 0 1em 0;
}

::placeholder {
    color: rgba($text, 0.5);
}
