.form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1em;
    width: min(100%, 40em);
}

.formHorizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;

    & > * {
        flex-grow: 1;
    }
}

.formSection {
    display: flex;
    flex-direction: column;
}

.form input {
    background-color: transparent;
    border: 3px solid $accent;
    border-radius: 0.6em;
    padding: 0.7em;
    color: $text;
}
