nav {
    position: fixed;
    bottom: 0;
    left: 0;

    @include medium() {
        top: 0;
        bottom: unset;
    }

    width: 100%;

    background: $accent;

    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include medium() {
            justify-content: flex-start;
        }

        list-style: none;

        margin: 0;
        padding: 0;
        padding-inline: 1rem;
    }
}

nav li {
    display: inline-block;

    padding-block: 0.1em 1em;

    @include medium() {
        padding-block: 0.5em 0.1em;
    }

    &:hover {
        background: $text;
        color: $secondary;
    }

    a {
        display: block;
        padding: 1em;
        text-decoration: none;
        color: currentColor;
    }
}
