.button {
  border: none;
  border-radius: 100vmax;
  padding: 0.7em;
  flex-grow: 1;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  color: #c2ccdb;
  border: 2px solid #374e64;
  transition: transform 150ms ease-in-out, border 250ms ease-in-out;
  transform: translateY(0);
}
.button[data-variant=primary] {
  background: #374e64;
}
.button[data-variant=secondary] {
  background: transparent;
}
.button:hover {
  transform: translateY(-0.15em);
  border: 2px solid rgba(194, 204, 219, 0.8);
}

.iconButton {
  border-radius: 100%;
  border: 2px solid currentColor;
  padding: 0.8rem;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1f1f;
  color: #c2ccdb;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.iconButton svg {
  transform: scale(1);
  transition: all 0.1s ease-in-out;
}
.iconButton:active svg {
  transform: scale(0.9);
}
.iconButton:hover {
  background-color: #374e64;
}
.iconButton:hover svg {
  transform: scale(1.2);
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1em;
  width: min(100%, 50em);
}

.formHorizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;
}
.formHorizontal > * {
  flex-grow: 1;
}

.formSection {
  display: flex;
  flex-direction: column;
}

.form input {
  background-color: transparent;
  border: 3px solid #374e64;
  border-radius: 0.6em;
  padding: 0.7em;
  color: #c2ccdb;
}

.error {
  color: #ac5858;
  font-size: 0.8em;
}

.navWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #374e64;
  width: 100%;
}
@media (min-width: 768px) {
  .navWrapper {
    top: 0;
    bottom: unset;
    padding-right: 10rem;
    width: auto;
    background: linear-gradient(-70deg, transparent 8rem, #374e64 8rem);
  }
}

.navMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline: 1rem;
}
@media (min-width: 768px) {
  .navMain {
    justify-content: flex-start;
  }
}

.back {
  display: none;
}
@media (min-width: 768px) {
  .back {
    display: flex;
  }
}

.navMain > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: currentColor;
  padding: 1em 3em;
}
@media (min-width: 768px) {
  .navMain > a {
    padding: 1em 1.5em;
  }
}
.navMain > a:hover {
  background: #c2ccdb;
  color: #374e64;
}
.navMain > a svg {
  width: 1.5em;
  height: 1.5em;
  margin-right: 10px;
}

.card {
  background: #374e64;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 1.5rem 1rem 1rem 1.8rem;
  background: #374e64;
  border: 6px solid #374e64;
}
.card[data-variant=big] {
  width: min(100%, 50rem);
}
@media (min-width: 768px) {
  .card[data-variant=big] {
    background: linear-gradient(-60deg, transparent 30%, #374e64 30%);
  }
}

.cardInfo {
  color: #c2ccdb;
  text-decoration: unset;
}
.cardInfo header {
  display: flex;
  justify-content: space-between;
}
.cardInfo main {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cardInfo main p {
  margin: 0;
}

.cardInteractions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@keyframes slideInSide {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.cardlist {
  width: min(100%, 50em);
}

.cardlistHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cardlistHeader h1 {
  animation: slideInTop 400ms ease-in-out;
}

.cardlistMain {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
}
.cardlistMain > * {
  animation-name: slideInSide;
  animation-duration: 350ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.cardlistMain > *:nth-child(1) {
  animation-delay: 0.1s;
}
.cardlistMain > *:nth-child(2) {
  animation-delay: 0.2s;
}
.cardlistMain > *:nth-child(3) {
  animation-delay: 0.3s;
}
.cardlistMain > *:nth-child(4) {
  animation-delay: 0.4s;
}
.cardlistMain > *:nth-child(5) {
  animation-delay: 0.5s;
}
.cardlistMain > *:nth-child(6) {
  animation-delay: 0.6s;
}
.cardlistMain > *:nth-child(7) {
  animation-delay: 0.7s;
}
.cardlistMain > *:nth-child(8) {
  animation-delay: 0.8s;
}
.cardlistMain > *:nth-child(9) {
  animation-delay: 0.9s;
}
.cardlistMain > *:nth-child(10) {
  animation-delay: 1s;
}

.profileMain {
  width: min(100%, 50em);
}

.profileButtons {
  display: flex;
  width: min(100%, 50em);
  gap: 1rem;
  background-color: #1e1f1f;
  margin-top: 1rem;
  flex-direction: row;
  border-radius: 100vmin;
}
@media (min-width: 768px) {
  .profileButtons {
    padding: 0.7rem;
  }
}
.profileButtons p {
  margin: 0;
}

.authWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  padding-bottom: 20vh;
}

/* Form  */
@keyframes slidein {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.authForm {
  animation-duration: 600ms;
  animation-name: slidein;
  animation-timing-function: ease-in-out;
}

/* Buttons */
.authButtons {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

@font-face {
  font-family: "Rubik";
  src: url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
}
body,
html {
  margin: 0;
  padding: 0;
  color: #c2ccdb;
  font-family: "Rubik", "Roboto", sans-serif;
  background: #1e1f1f;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  gap: 1rem;
  overflow-x: hidden;
  padding: 1rem;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  body {
    padding-top: 6rem;
  }
}

* {
  box-sizing: border-box;
  font-family: "Rubik", "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

h2 {
  font-size: clamp(1rem, 5vw, 2rem);
}

h3 {
  font-size: clamp(0.75rem, 5vw, 1.5rem);
  padding: 0;
  margin: 0;
}

::-moz-placeholder {
  color: rgba(194, 204, 219, 0.5);
}

::placeholder {
  color: rgba(194, 204, 219, 0.5);
}

svg {
  fill: currentColor;
  width: 1.1rem;
  height: 1.1rem;
  display: inline-block;
}
