.button {
  border: 3px solid #4b656d;
  border-radius: 100vmax;
  padding: 0.5em;
  flex-grow: 1;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
}
.button:hover {
  cursor: pointer;
}
.button[data-variant=primary] {
  background-color: #4b656d;
}
.button[data-variant=secondary] {
  background-color: transparent;
  color: #4b656d;
}

.iconButton {
  border-radius: 100%;
  padding: 0.9rem;
  background-color: #1f2122;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid currentColor;
  transition: all 0.1s ease-in-out;
}
.iconButton svg {
  transform: scale(1);
  transition: all 0.1s ease-in-out;
}
.iconButton:active svg {
  transform: scale(0.9);
}
.iconButton:hover {
  background-color: #2c3e50;
}
.iconButton:hover svg {
  transform: scale(1.2);
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1em;
  width: min(100%, 40em);
}

.formHorizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;
}
.formHorizontal > * {
  flex-grow: 1;
}

.formSection {
  display: flex;
  flex-direction: column;
}

.form input {
  background-color: transparent;
  border: 3px solid #4b656d;
  border-radius: 0.6em;
  padding: 0.7em;
  color: #ffffff;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #2c3e50;
  width: 100%;
}
@media (min-width: 768px) {
  nav {
    top: 0;
    bottom: unset;
    padding-right: 10rem;
    width: auto;
    background: linear-gradient(-70deg, transparent 8rem, #2c3e50 8rem);
  }
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline: 1rem;
}
@media (min-width: 768px) {
  nav ul {
    justify-content: flex-start;
  }
}

nav li {
  display: inline-block;
  padding-block: 0.1em 1em;
}
@media (min-width: 768px) {
  nav li {
    padding-block: 0.5em 0.1em;
  }
}
nav li:hover {
  background: #ffffff;
  color: #2c3e50;
}
nav li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: currentColor;
}

.card {
  background: #4b656d;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 1.5rem 1rem 1rem 1.8rem;
  background: #2c3e50;
  border: 6px solid #2c3e50;
}
@media (min-width: 768px) {
  .card {
    background: linear-gradient(-60deg, transparent 30%, #2c3e50 30%);
  }
}

.cardInfo header {
  display: flex;
  justify-content: space-between;
}
.cardInfo main {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cardInfo main p {
  margin: 0;
}

.cardInteractions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.authWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  padding-bottom: 20vh;
}

/* Form  */
@keyframes slidein {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.authForm {
  animation-duration: 600ms;
  animation-name: slidein;
  animation-timing-function: ease-in-out;
}

/* Buttons */
.authButtons {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.patients {
  width: min(100%, 50rem);
}

.patientsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.patientsMain {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
}

@font-face {
  font-family: "Rubik";
  src: url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
}
body,
html {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Rubik", "Roboto", sans-serif;
  background: #1f2122;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 1rem;
  padding-top: 4rem;
}

* {
  box-sizing: border-box;
  font-family: "Rubik", "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

h2 {
  font-size: clamp(1rem, 5vw, 2rem);
}

h3 {
  font-size: clamp(0.75rem, 5vw, 1.5rem);
  padding: 0;
  margin: 0;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

svg {
  fill: currentColor;
  width: 1.1rem;
  height: 1.1rem;
}
